<div class="grid">
  <div>
    <h2>Incoming</h2>
    <dl class="right">
      <dt>Total</dt>
      <dd><%= number_to_delimited(incoming_total) %></dd>

      <dt>Length</dt>
      <dd><%= format_duration(incoming_length) %></dd>

      <dt>Throughput</dt>
      <dd><%= number_to_delimited(incoming_throughput) %> /min</dd>
    </dl>
  </div>

  <div>
    <h2>Outgoing</h2>
    <dl class="right">
      <dt>Queued</dt>
      <dd><%= number_to_delimited(outgoing_total) %></dd>

      <dt>Queue age (oldest)</dt>
      <dd><%= format_duration(queue_oldest_age) %></dd>
    </dl>
  </div>

  <div>
    <h2>Measurements & Fields</h2>
    <dl class="left">
      <% incoming_measurement_fields_grouped.each do |measurement, fields| %>
        <dt><%= measurement %></dt>
        <dd><%= fields.join(', ') %></dd>
      <% end %>
    </dl>
  </div>

  <div>
    <h2>Database</h2>
    <dl>
      <dt>Size</dt>
      <dd><%= database_size %></dd>
    </dl>
  </div>
</div>
